/* .footer{
    height:50px;
    width:100%;
    background-color:black;
    color: aliceblue;
    align-content:center;
    display: flex;
    justify-content: center;
    align-items: center;
    
} */
/* .containeer{
    display: block;  
padding: 200px;  
margin:150px;

}  
.containeer img{
    border-radius: 50%;
    max-width: 30%;
 max-height: 30%;
 position:absolute;
} */
